@theme {
  --color-bg: var(--bg);
  --color-fg: var(--fg);
  --color-accent: var(--accent);
}

@import "tailwindcss";

:root {
/*
  --c-bg-light: #ffffff;
  --c-fg-light: #0a0a0a;
  --c-accent-light: #14b8a6;

  --c-bg-dark: #09090b;
  --c-fg-dark: #e5e7eb;
  --c-accent-dark: #2dd4bf;
  */
  --c-bg-light: #fffbeb;
  --c-fg-light: #33240f;
  --c-accent-light: #f06440;

  --c-bg-dark: #100b0b;
  --c-fg-dark: #fff;
  --c-accent-dark: #ffe16b;

}

:root {
  --bg: var(--c-bg-light);
  --fg: var(--c-fg-light);
  --accent: var(--c-accent-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--c-bg-dark);
    --fg: var(--c-fg-dark);
    --accent: var(--c-accent-dark);
  }
}

:root[data-theme="light"] {
  --bg: var(--c-bg-light);
  --fg: var(--c-fg-light);
  --accent: var(--c-accent-light);
}

:root[data-theme="dark"] {
  --bg: var(--c-bg-dark);
  --fg: var(--c-fg-dark);
  --accent: var(--c-accent-dark);
}

body {
  color: var(--fg);
  background-color: var(--bg);
}
